.k-nav{
    display: flex;
    background-color: #4a4a4a;
    justify-content: space-around;
    height: .3rem;
    overflow: hidden;
}
.k-nav-item{
    border-right: 1px solid #3f3f3f;
    line-height: .3rem;
    padding: 0 .1rem;
    font-size: .1rem;
    flex: 1;
    text-align: center;
}
.k-nav-item:last-of-type{
    border-right: none;
}
