<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,user-scalable=no">
    <title>HI操盘</title>
</head>
<body>
<div id="root"></div>
<script src="./jquery.min.js"></script>
<script src="./jquery.signalR-2.2.3.min.js"></script>
<script src="http://47.100.110.48:1817/signalr/hubs"></script>
<script src="./localserver.js"></script>
<script src="./hammer-min.js"></script>
<script src="./polyfill.min.js"></script>
<script>
    var k_type_choose = "";
    var work = $.connection.myHub;
    $.connection.hub.url = 'http://47.100.110.48:1817/lcc';
    var hub = $.connection.hub;
    hub.start().done(function () {
        work.server.品种行情()
        setInterval(function () {
            work.server.品种行情()
        }, 1000)
    });
</script>
</body>
</html>
